.heading{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    
}
.form{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 5%;
    
}
.actual{
    position: relative;
    font-size: x-large;
    font-weight: bold;
    left: 500px;
    background-color: rgb(118, 81, 243);
    padding-left: 50px;
    width: 400px;
    padding-top: 50px;
    border-radius: 50px;
    padding-bottom: 30px;
    /* height: 600px; */
    margin-top: 50px;
}
body{
    background-image: linear-gradient(to left,rgb(255, 255, 255) ,rgb(1, 255, 242)
    );
}